html {
  font-size: 22px;
}
body {
  background-color: blanchedalmond;
  color: #ff0077;
}
#aboutUs {
  color: #9000ff;
}
table,
th,
tr,
td {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
dl {
  color: lime;
}
